@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

body {
  color: #fff;
  background: var(
    --BG_landing2,
    linear-gradient(
      2deg,
      #101010 79.11%,
      rgba(0, 0, 0, 0) 103.73%,
      rgba(0, 0, 0, 0) 103.73%
    ),
    linear-gradient(174deg, #a060fa 17.25%, #c800cc 58.14%)
  );
}
